<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Juniper Junos PyEZ</title>
    <link href="../static/css/main.css" rel="stylesheet">
  </head>

  <body>
  <div class="container">
  <header>
    <h1>Juniper Networks Automation</h1>
  </header>
  <nav>
    <ul>
      <li>
        <form method="get" action="/">
          <input class="btn btn-lg btn-primary btn-block" type="image" src="../static/img/back_button1.png" alt="Back" width="70%" height="40%">
        </form>
    </ul>
  </nav>
  <article>
    <h2>Display all configuration</h2>
    <textarea rows="180" cols="180">{{output }}<</textarea>
  </article>
  <footer><img src="../static/img/download.png" alt="Junos" width="10%" height="10%"></footer>
  </div>

  </body>
  </html>
